<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appnhac">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_thuongthuong"
        android:label="T Mp3"
        android:roundIcon="@drawable/ic_thuongthuong"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.TestNotificationActivity">

        </activity>
        <activity android:name=".Activity.DangNhapSdtActivity" />
        <activity android:name=".Activity.AdsActivity" />
        <activity android:name=".Activity.DangNhapActivity" />
        <activity android:name=".Activity.LoadDisplayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PlayVideoActivity" />
        <activity android:name=".Activity.YoutubeMvActivity" />
        <activity android:name=".Activity.DanhsachtatcaalbumActivity" />
        <activity android:name=".Activity.DanhsachtheloaitheochudeActivity" />
        <activity android:name=".Activity.DanhsachtatcachudeActivity" />
        <activity android:name=".Activity.DanhsachcacplaylistActivity" />
        <activity android:name=".Activity.PlayNhacActivity" />
        <activity android:name=".Activity.DanhsachbaihatMainActivity" />
        <activity android:name=".Activity.MainActivity" />
        <receiver android:name=".Service.NotificationActionService"/>
        <service android:name=".Service.OnClearFromRecentServive"/>
    </application>

</manifest>